<div class="login">
  <h1 class="title">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="goToLogin()">

    <div class="container">
      <label  for="email">Email</label>
      <input type="email" placeholder="correo@correo" id="email" formControlName="email"/>

    </div>

    <div class="container">
      <label for="pass">Password</label>
      <input type="password" id="pass" placeholder="*****" formControlName="pass"/>
    </div>

    <button class="btn-primary login-btn" [disabled]="loginForm.invalid">Entrar</button>
{{error}}
  </form>




</div>
