/* You can add global styles to this file, and also import other style files */
$btn-primary-color: #619fe2;

body,
html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.btn-primary{
  background: $btn-primary-color;
  padding: 5px 10px;
  border: 0;
  color: white;
  border-radius: 5px;
  min-width: 100px;
  &:disabled {
    background: gainsboro;
  }

}
